# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Streamlit Cache
.streamlit/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
